
.banner img{
    width: 100%;
    height: 105px;
}

.regForm div{
    background-color: #fff;
}

.regForm form > div:nth-of-type(1){
   margin-top: 18px;
}
.mui-input-group{
    background-color: transparent;
}
.mui-input-row label {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    line-height: 1.1;
    float: left;
    width: 35%;
    padding: 11px 15px;
    color: #555;
    font-size: 13px;
}
.mui-input-group input{
    color: #aaa;
    font-size: 13px;
    text-align: right;
}
.mui-input-row select{
    color: #aaa;
    font-size: 13px;
    direction: rtl;
    padding-right: 15px;
}
.mui-input-row select option{
    direction: initial;
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:  #aaa;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #aaa;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #aaa;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color:  #aaa;
}
.mui-input-group:before,.mui-input-group .mui-input-row:after {
    background-color: #fff;
}

.regForm{
    margin-bottom: 80px;
}
.regForm .upload{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efeff4;
    float: right;
    margin-right: 15px;
    position: relative;
    z-index: 2;
    pointer-events: none;
}
.regForm input[type=file]{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
}
.upload img{
    width: 18px;
}

.must::after{
    content: '*';
    color: red;
}
.mui-input-row .mui-numbox {
    float: right;
    margin: 5px 8px;
    margin-right: 15px;
}

.radioBtn{
    font-size: 12px;
    padding: 2px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-right: 2px;
}
.active{
    border-color: #007aff;
    color: #007aff;
    position: relative;
}
.active::after{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #007aff;
    position: absolute;
    top: -4px;
    right: -3px;
}

.submtBox{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submtBox div{
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    width: 85%;
    border-radius: 8px;
    background: #007affe3;
}