.mesContainer{
	padding-top: 65px;
}
.recastMes{
	height: 100%;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 1px 10px 0 rgba(202,201,201,0.50);
	border-radius: 5px;
	overflow-y: scroll;
}
.recastMes .tips{
	padding: 10px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #000;
	font-size: 21px;
}
.recastMes .tips img{
	width: 20px;
	height: 40px;
	margin-right: 10px;
}
.recastMes .tips div{
	display: flex;
	align-items: center;
	font-size: 16px;
}
.divider{
	display: block;
	height: 20px;
	background: #F5F5F5;
}




.listUl{
	list-style: none;
	padding: 0;
	margin: 0;
}
.listUl .item{
	padding: 8px 22px;
	display: flex;
	border-bottom: 1px solid #EBEBEB;
}
.listUl .item  > img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
}


.listUl .item > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.listUl .item > p{
	color: #E1AF48;
	font-size: 21px;
	display: flex;
	align-items: center;
	position: relative;
}
.listUl .item > p > span{
    position: absolute;
    bottom: -13px;
    left: 0;
    font-size: 16px;
    width: 120%;
}
.listUl .item > div > p{
	color: #000;
	font-size: 16px;
	margin-top: 2px;
}
.listUl .item > div > span{
	color: #999;
	font-size: 13px;
}
.listUl .item > div > div{
	width: 30px;
	height: 13px;
	line-height: 13px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	background: #D6B061;
	border-radius: 2px;
}

