.recastMes{
	width: 90%;
	background: #fff;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 0 1px 10px 0 rgba(202,201,201,0.50);
	border-radius: 5px;
}
.recastMes .top{
	height: 75px;
	display: flex;
	justify-content: space-between;
	color: #000;
	padding: 0 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	background: #F4F4F4;
	border-radius: 5px 5px 0px 0px;
	font-size: 14px;
}
.recastMes .top p{
	margin-right: 40px;
	color: #000;
}
.recastMes .top div{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.recastMes .top div span{
	color: #3082BC;
	font-size: 14px;
}

.recastMes .bot{
	padding: 15px 15px 33px 15px;
	
}
.recastMes .bot p{
	position: relative;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
}
.recastMes .bot input{
	border: none;
	border-bottom: 1px solid #CBCBCB;
	padding: 30px 15px;
	color: #000;
	font-size: 35px;
	padding-left: 40px;
	margin-top: 15px;
}
.recastMes .bot p::before{
	content: '￥';
	font-size: 35px;
	display: inline-block;
	position: absolute;
	left: 1px;
	top: 53px;
	font-weight: 700;
}
.recastMes .bot .tips{
	color: #333;
	font-size: 13px;
}
.mui-input-row{
	display: flex;
	justify-content: center;
}
.mui-input-row button{
	width: 310px !important;
	height: 50px !important;
	margin-top: 20px;
	font-size: 21px;
	background: #25B364;
	border-radius: 5px;
	border: none;
	letter-spacing: 8px;
	
}
.recastMes .bank:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/工商.png) no-repeat;
	background-size: cover;
	position: absolute;
	left: -20px;
}